<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/public/styles/dash.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2 sidebar">
          <h4>Dashboard</h4>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a href="#" class="nav-link" id="addStudentLink">Add Student</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link" id="studentListLink">Student List</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link" id="homeworkListLink"
                >Homework List</a
              >
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link" id="studentHomeworkLink"
                >Student Homework</a
              >
            </li>
            <li>
              <button id="logoutButton" class="logout-btn">Logout</button>
            </li>
          </ul>
        </div>

        <div class="col-md-10 content">
          <div id="welcomeMessage" class="welcome-message"></div>

          <div class="card mb-4" id="addStudentForm" style="display: none">
            <h1 class="card-header">Add Student</h1>
            <div class="card-body">
              <form id="studentForm">
                <div class="mb-3">
                  <label for="name" class="form-label">Student Name</label>
                  <input
                    type="name"
                    class="form-control"
                    id="studentName"
                    placeholder="Enter student name"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    id="studentEmail"
                    placeholder="Enter student email"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="studentPass"
                    placeholder="Enter student password"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="class" class="form-label">Class</label>
                  <input
                    type="text"
                    class="form-control"
                    id="studentClass"
                    placeholder="Enter class"
                    required
                  />
                </div>
                <button type="submit" class="btn btn-custom">
                  Add Student
                </button>
              </form>
            </div>
          </div>

          <div class="card mb-4" id="studentList" style="display: none">
            <h1 class="card-header">List of Students</h1>
            <div class="card-body table-responsive">
              <table class="table table-striped table-hover">
                <thead class="table-dark">
                  <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Class</th>
                  </tr>
                </thead>
                <tbody id="studentTableBody"></tbody>
              </table>
            </div>
          </div>

          <div class="card mb-4" id="homeworkList" style="display: none">
            <div
              class="card-header d-flex justify-content-between align-items-center"
            >
              Homework List
              <button class="btn btn-custom" id="addHomeworkButton">
                Add Homework
              </button>
            </div>
            <div class="card-body">
              <table class="table table-striped table-hover">
                <thead class="table-light">
                  <tr>
                    <th>Title</th>
                    <th>Class</th>
                    <th>Topic</th>
                    <th>Subject</th>
                  </tr>
                </thead>
                <tbody id="homeworkTableBody"></tbody>
              </table>
            </div>
          </div>

          <div class="card mt-4" id="addHomeworkForm" style="display: none">
            <div class="card-header">Add Homework</div>
            <div class="card-body">
              <form id="homeworkForm">
                <div class="mb-3">
                  <label for="homeworkTitle" class="form-label"
                    >Homework Title</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="homeworkTitle"
                    placeholder="Enter homework title"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="homeworkClass" class="form-label">Class</label>
                  <input
                    type="text"
                    class="form-control"
                    id="homeworkClass"
                    placeholder="Enter class"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="homeworkTopic" class="form-label">Topic</label>
                  <input
                    type="text"
                    class="form-control"
                    id="homeworkTopic"
                    placeholder="Enter topic"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="homeworkSubject" class="form-label"
                    >Subject</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="homeworkSubject"
                    placeholder="Enter subject"
                    required
                  />
                </div>
                <button type="submit" class="btn btn-custom">
                  Add Homework
                </button>
              </form>
            </div>
          </div>

          <div class="card mb-4" id="studentHomework" style="display: none">
            <h1 class="card-header">Student Homework</h1>
            <div class="card-body">
              <table class="table table-striped table-hover">
                <thead class="table-light">
                  <tr>
                    <th>Title</th>
                    <th>Topic</th>
                    <th>Subject</th>
                  </tr>
                </thead>
                <tbody id="studentHomeworkBody"></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>

    <script src="/public/script/dashboard.js"></script>
  </body>
</html>
